body {
  font-family: "Quicksand", sans-serif;
  color: #14274e;
}



.frame {
  width: 660px;
  margin: 100px 20px;
  border-radius: 20px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.signature {
  font-size: 20px;
  text-align: left;
}

.link:hover {
  color: #14274e;
}