.currently-icon {
  width: 150px;
  margin: 20px 20px 30px 40px;
}

.property-table {
  display: inline-block;
  padding-top: 31px;
  font-size: 20px;
  margin-top: 40px;
}

.properties {
  text-align: right;
}

#description {
  font-size: 20px;
  text-align: left;
  padding: 30px;
}

#icon {
  display: inline-block;
}
