a {
  text-decoration: none;
  color: #00a6ff;
}

a:hover {
  color: #ffffff;
}

.currently-icon {
  width: 150px;
  margin: 20px 20px 30px 40px;
}

.property-table {
  display: inline-block;
  padding-top: 31px;
  font-size: 20px;
  margin-top: 40px;
}

.properties {
  text-align: right;
}

.weather-temperature .active {
  color: #ffffff;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.feelsLikeUnits {
  display: inline;
  position: relative;
  font-size: 14px;
  top: -10px;
}

#description {
  font-size: 20px;
  text-align: left;
  padding: 30px 30px 30px 40px;
}

#icon {
  display: inline-block;
}

#celsius {
  padding: 5px;
}

#fahrenheit {
  padding: 5px;
}
