h2 {
  font-size: 100px;
  text-align: center;
  padding: 10px;
  margin-top: 50px;
}

a {
  text-decoration: none;
  color: #67caff;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

.units {
  display: inline;
  position: relative;
  font-size: 18px;
  top: -75px;
}

#temperature {
  display: inline;
}

#celsius {
  padding: 5px;
}

#fahrenheit {
  padding: 5px;
}
